$main-background: #f7f7f7;
$main-font: #000;
$headerfooter-background: #000;
$headerfooter-font: #fff;
$nav-background: #3b5998; // edit
$nav-font: $headerfooter-font;
$alert-info-background: #fffaaa;
$alert-error-background: #fea7a7;
$alert-border: #999;
$tweet-odd: $main-background;
$tweet-even: #d8dfea; // edit
$tweet-quoted-border: $alert-border;

@import 'base';