$main-background: #f7f7f7;
$main-font: #000;
$headerfooter-background: #000;
$headerfooter-font: #fff;
$nav-background: #677686; // edit
$nav-font: $headerfooter-font;
$alert-info-background: #fffaaa;
$alert-error-background: #fea7a7;
$alert-border: #999;
$tweet-odd: $main-background;
$tweet-even: #e6e6e6; // edit
$tweet-quoted-border: $alert-border;

body {
    background: $main-background;
    color: $main-font;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul {
    margin: 0 auto;
}

li {
    margin-left: -1em;
}

header {
    background: $headerfooter-background;
    color: $headerfooter-font;
    font-weight: bold;
    padding: 5px;

    a {
        color: $headerfooter-font;
    }
}

.p-moreheight {
    line-height: 1.5em;
}

nav {
    background: $nav-background;
    color: $nav-font;

    a {
        color: $nav-font;
    }
}

.nav-menu {
    padding: 5px;
}

.nav-submenu {
    font-size: small;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

section {
    line-height: 1.25em;
    padding: 5px;

    a {
        color: $nav-background;
    }
}

footer {
    background: $headerfooter-background;
    color: $headerfooter-font;
    font-size: 0.75em;
    padding: 5px;

    a {
        color: $headerfooter-font;
        font-weight: bold;
    }

    .rate {
        line-height: 1.375em;
    }
}

input,
select {
    box-sizing: border-box;
    height: 1.75em;
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
}

input[type=checkbox] {
    height: 1.25em;
    vertical-align: top;
    width: inherit;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 5em;
}

button {
    background: $nav-background;
    border: 0;
    color: $nav-font;
    cursor: pointer;
    padding: 5px;
}

.alert {
    padding: 2px 5px;
    color: $main-font;
}

.alert-info {
    @extend .alert;
    background: $alert-info-background;
    border: 2px solid $alert-border;
}

.alert-error {
    @extend .alert;
    background: $alert-error-background;
    border: 2px solid $alert-border;
}

.tweet {
    padding: 5px;

    .split-left {
        margin-top: 3px;
        position: absolute;
        // min-height: 51px;
    }

    .split-right {
        margin-left: 55px;

        .user_id {
            color: $nav-background;
        }
    }
}

.tweet-odd {
    @extend .tweet;
    background: $tweet-odd;
}

.tweet-even {
    @extend .tweet;
    background: $tweet-even;
}

.tweet-quoted {
    @extend .tweet;
    border: 2px solid $tweet-quoted-border;
    margin: 5px 0;
}

.img-logo {
    width: 200px;
}

.img-avatar {
    border-radius: 7.5px;
}

.img-action {
    height: 10px;
}

.pagination {
    text-align: center;
    width: 33.33%;
    padding: 5px;
    background: $nav-background;
    color: $nav-font;
    text-decoration: none;
}

.pagination-left {
    @extend .pagination;
    float: left;
}

.pagination-right {
    @extend .pagination;
    float: right;
}

.clear {
    clear: both;
}
